Q1. What is a database? Differentiate between SQL and NoSQL databases.

A1. A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).For example, social media platforms use databases to store user information, such as names, email addresses and user behavior. The data is used to recommend content to users and improve the user experience.

- SQL - SQL is a domain-specific language used to query and manage data. It works by allowing users to query, insert, delete, and update records in relational databases. SQL also allows for complex logic to be applied through the use of transactions and embedded procedures such as stored functions or views.

- NoSQL - NoSQL stands for Not only SQL. It is a type of database that uses non-relational data structures, such as documents, graph databases, and key-value stores to store and retrieve data. NoSQL systems are designed to be more flexible than traditional relational databases and can scale up or down easily to accommodate changes in usage or load. This makes them ideal for use in applications

Differentiate between SQL and NoSQL databases : -
- SQL databases are relational, and NoSQL databases are non-relational.
- SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
- SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
- SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
- SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A2. DDL stands for Data Definition Language. 
These commands are used to change the structure of a database and database objects.For example, DDL commands can be used to add, remove, or modify tables with in a database.

The DDL commands are: 
- CREATE
- ALTER
- DROP
- TRUNCATE
- RENAME

1. CREATE : 
This command is used to create table in the relational database . 
This can be done by specifying the names and datatypes of various columns. 

Example:
CREATE TABLE 
Employee
(Student_id INT, 
Name VARCHAR(100), 
Marks INT); 

2. ALTER : 
Alter command is used for altering the table in many forms like: 

- Add a column
- Rename existing column
- Drop a column
- Modify the size of the column or change datatype of the column

3. TRUNCATE : 
This command removes all the records from a table. But this command will not destroy the table’s structure. 

4. DROP : 
This command completely removes the table from the database along with the destruction of the table structure.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A3. The Full Form of DML is Data Manipulation Language. Data Manipulation Language (DML) is a programming language, also a category of SQL, applying useful table format and formulas for exchanging information, with the data limited to a point in the database, using SQL.

- INSERT : This command is used to enter the information or values into a row. We can connect one or more records to a single table within a repository using this instruction. This is often used to connect an unused tag to the documents.
- Example : INSERT INTO <table_name> ('column_name1' <datatype>, 'column_name2' <datatype>)
VALUES ('value1', 'value2'); 
    
- UPDATE : This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table.
- Example : UPDATE students
SET due_fees = 20000
WHERE stu_name = 'Mini'; 
    
- DELETE : It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.
- Example : DELETE FROM students
WHERE stu_id = '001';

Q4. What is DQL? Explain SELECT with an example.

A4. Query languages, often known as DQLs or Data Query Languages, are computer languages that are used to make various queries in information systems and databases. The Structured Query Language (SQL) is a well-known example. DQL statements are used to query the data contained in schema objects.

- SELECT : The SELECT Statement in SQL is used to retrieve or fetch data from a database. 

We can fetch either the entire table or according to some specified rules. The data returned is stored in a result table. This result table is also called the result set. With the SELECT clause of a SELECT command statement, we specify the columns that we want to be displayed in the query result and, optionally, which column headings we prefer to see above the result table.

The select clause is the first clause and is one of the last clauses of the select statement that the database server evaluates. The reason for this is that before we can determine what to include in the final result set, we need to know all of the possible columns that could be included in the final result set.

CREATE TABLE Customer(
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(50),
    LastName VARCHAR(50),
    Country VARCHAR(50),
    Age int(2),
  Phone int(10)
);
-- Insert some sample data into the Customers table
INSERT INTO Customer (CustomerID, CustomerName, LastName, Country, Age, Phone)
VALUES (1, 'Shubham', 'Thakur', 'India','23','xxxxxxxxxx'),
       (2, 'Aman ', 'Chopra', 'Australia','21','xxxxxxxxxx'),
       (3, 'Naveen', 'Tulasi', 'Sri lanka','24','xxxxxxxxxx'),
       (4, 'Aditya', 'Arpan', 'Austria','21','xxxxxxxxxx'),
       (5, 'Nishant. Salchichas S.A.', 'Jain', 'Spain','22','xxxxxxxxxx');

Q5. Explain Primary Key and Foreign Key.

- A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 
- A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 

Primary Key- 
- A primary key is used to ensure data in the specific column is unique.
- It uniquely identifies a record in the relational database table.
- Only one primary key is allowed in a table.
- It is a combination of UNIQUE and Not Null constraints.
- It does not allow NULL values.
- Its value cannot be deleted from the parent table.
- It constraint can be implicitly defined on the temporary tables.

Foreign Key-
- A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.
- It refers to the field in a table which is the primary key of another table.
- Whereas more than one foreign key is allowed in a table.
- It can contain duplicate values and a table in a relational database.
- It can also contain NULL values.
- Its value can be deleted from the child table.
- It constraint cannot be defined on the local or global temporary tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

A6. Step 1: Download and Install the free MySQL database.
- Step 2: After installing the MySQL database, open your Command prompt.
- Step 3: Navigate your Command prompt to the location of PIP.
- Step 4: Now run the commands given below to download and install “MySQL Connector”. 
- Step 5: Test MySQL Connector
- Step 6: Create Connection

- Python Code
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "yourusername",
    password = "your_password"
)

print(mydb)

- cursor() - The MySQLCursor class instantiates objects that can execute operations such as SQL statements. Cursor objects interact with the MySQL server using a MySQLConnection object. To create a cursor, use the cursor() method of a connection object: import mysql. connector cnx = mysql. connector.

- execute - Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures. You can create Cursor object using the cursor() method of the Connection object/class.

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
A7.